<div class="form-container">
  <h2>Add New Game</h2>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title:</label>
      <div class="input-container">
        <input id="title" type="text" formControlName="title" />
        <div
          *ngIf="
            gameForm.get('title')?.invalid && gameForm.get('title')?.touched
          "
          class="error"
        >
          Title is required.
        </div>
      </div>
    </div>

    <div>
      <label for="genre">Genre:</label>
      <div class="input-container">
        <input id="genre" type="text" formControlName="genre" />
        <div
          *ngIf="
            gameForm.get('genre')?.invalid && gameForm.get('genre')?.touched
          "
          class="error"
        >
          Genre is required.
        </div>
      </div>
    </div>

    <div>
      <label for="status">Status:</label>
      <div class="input-container">
        <select id="status" formControlName="status">
          <option [value]="0">Planned</option>
          <option [value]="1">Playing</option>
          <option [value]="2">Completed</option>
          <option [value]="3">Dropped</option>
        </select>
        <div
          *ngIf="
            gameForm.get('status')?.invalid && gameForm.get('status')?.touched
          "
          class="error"
        >
          Status is required.
        </div>
      </div>
    </div>

    <div>
      <label for="rating">Rating (1-10):</label>
      <div class="input-container">
        <input
          id="rating"
          type="number"
          formControlName="rating"
          min="1"
          max="10"
        />
        <div
          *ngIf="
            gameForm.get('rating')?.errors && gameForm.get('rating')?.touched
          "
        >
          <div *ngIf="gameForm.get('rating')?.errors?.['min']" class="error">
            Rating must be at least 1.
          </div>
          <div *ngIf="gameForm.get('rating')?.errors?.['max']" class="error">
            Rating cannot exceed 10.
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="platformId">Platform:</label>
      <div class="input-container">
        <select id="platformId" formControlName="platformId">
          <option
            *ngFor="let platform of platforms"
            [value]="platform.platformId"
          >
            {{ platform.name }}
          </option>
        </select>
        <div
          *ngIf="
            gameForm.get('platformId')?.invalid &&
            gameForm.get('platformId')?.touched
          "
          class="error"
        >
          Platform is required.
        </div>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="gameForm.invalid">Save Game</button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>
